* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    position: sticky;
    display: flex;
    top: 0;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    background-color: white;
    padding: 70px;
    padding-left: 20px;
    height: 10px;
}

.logo-menu2 > img {
    box-sizing: border-box;
    position: absolute;
    width: 95px;
    height: 95px;
    left: 7px;
    top: 23px;
}

.logo-menu {
    display: flex;
}


.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

li {
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.botao-menu {
    font-size: 20px;
}

.logo {
    padding: 110px;
}

.log > p {
    margin-left: 700px;
    font-weight: 600;
    color: black;
}

.anime > img {
    height: 350px;
    margin: 55px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(255, 255, 255);
}

.anime > img:hover {
    height: 350px;
    margin: 55px;
    border-radius: 8px;
    transform: scale(1.2);
}

.anime > p {
    color: white;
    margin-top: 60px;
    margin-left: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

.log > a {
    margin-left: 700px;
}