* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/wallpaper.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo > img {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 71.636px;
    line-height: 87px;
    background: radial-gradient(50% 50% at 50% 50%, #FF0000 0%, #000000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 1.43272px 5.25331px 1.91029px rgba(44, 230, 255, 0.44);
}

.logo > a {
    position: absolute;
    width: 160px;
    height: 55px;
    left: 1351px;
    top: 57px;
    background: #C957FF;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding: 15px;
}

h2 {
    position: absolute;
    width: 621px;
    height: 58px;
    left: 485px;
    top: 340px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.logo > p {
    position: absolute;
    width: 675px;
    height: 112px;
    left: 439px;
    top: 424px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: #bfb9b9;
}

.foto > img {
    position: absolute;
    width: 791px;
    height: 91px;
    left: 361px;
    top: 576px;
}

.texto > p {
    position: absolute;
    width: 772px;
    height: 116px;
    left: 391px;
    top: 1152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: white;
}

.texto > img {
    position: absolute;
    width: 508px;
    height: 294px;
    left: 938px;
    top: 1415px;
}

.texto2 > p {
    position: absolute;
    width: 631px;
    height: 256px;
    left: 821px;
    top: 2045px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
}

.texto2 > img {
    position: absolute;
    width: 498px;
    height: 267px;
    left: 51px;
    top: 2387px;
}

.foto2 > img {
    position: absolute;
    width: 498px;
    height: 267px;
    left: 51px;
    top: 1987px;
}

.foto3 > img {
    position: absolute;
    width: 498px;
    height: 267px;
    left: 901px;
    top: 2387px;
}

.texto3 > p {
    position: absolute;
    width: 583px;
    height: 267px;
    left: 749px;
    top: 3068px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.foto4 > img {
    position: absolute;
    width: 276px;
    height: 183px;
    left:88px;
    top: 2985px;
}

.foto5 > img {
    position: absolute;
    width: 276px;
    height: 183px;
    left:88px;
    top: 3285px;
}