* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    align-items: center;
}

header {
    display: flex;
    top: 0;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    background-color: white;
    padding: 70px;
    padding-left: 20px;
    height: 10px;
}

.logo-menu2 > img {
    box-sizing: border-box;
    position: absolute;
    width: 95px;
    height: 95px;
    left: 7px;
    top: 23px;
}

.logo-menu {
    display: flex;
}


.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

li {
    list-style-type: none;
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.botao-menu {
    font-size: 20px;
}

.logo {
    padding: 110px;
}

.log > p {
    margin-left: 700px;
    font-weight: 600;
    color: black;
}

.log > a {
    margin-left: 700px;
}

.fundo {
    width: 1450px;
    height: 400px;
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(66,63,251,1) 100%);
    border-radius: 20px;
    box-shadow: 4px 4px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 30px;
}

textarea {
    resize: none;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color:  #3b00de;
    background-image: linear-gradient(90deg, #3b00de 0%, #FC00FF 100%);
    color: white;
}

.poster {
    width: 248px;
    height: 350px;
    margin: 10px;
}